@font-face {
    font-family: Futura-Medium-Italic;
    src: url(../fonts/futura/Futura\ Medium\ Italic\ font.ttf);
    font-style: italic;
}

@font-face {
    font-family: Futura-Heavy-Italic;
    src: url(../fonts/futura/Futura\ Heavy\ Italic\ font.ttf);
    font-style: italic;
}

@font-face {
    font-family: Futura-Book;
    src: url(../fonts/futura/Futura\ Book\ font.ttf);
    font-style: italic;
}

@font-face {
    font-family: Futura-Bold-Italic;
    src: url(../fonts/futura/Futura\ Bold\ Italic\ font.ttf);
    font-style: italic;
}

.HomePage{
    background-image: 
	  linear-gradient(to right bottom, 
     rgba(76, 216, 255, 0.8),
     rgba(12, 85, 187, 0.8)),
     url('../images/HomePageBackground.jpg');
     background-size: cover;
     height: 100vh;
}

.HomeScreenHeader{
    text-align: center;
    height: 6vh;
    padding-bottom: 15vh;
    background-color: #2b87ff5d;
    /*margin-left: 50vh;
    margin-right: 50vh;*/
    color: #2774AE;
    -webkit-text-stroke-color: #FFD100;
    -webkit-text-stroke-width: 3px;
    font-size: 130px;
    font-weight: bolder;
    font-family: Futura-Heavy-Italic;
}

.HomePageButtonContainer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4vh;
}

.HomePageButtons{
    font-family: Futura;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-width: 10px;
    border-radius: 25px;
    font-family: Futura-Bold-Italic;
    font-size: xx-large;
}

.WorkoutsPageButton{
    cursor: pointer;
    border-color: #dc54ee;
    background-color:white;
    color: black;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

.WorkoutsPageButton:hover .BarbellImage{
    opacity: 0;
    transition: 0.20s;
}

.WorkoutsPageButton:hover .NavFromHomeArrow{
    opacity: 1;
    transition: 0.35s;
}

.NavFromHomeArrow{
    font-size: 70px;
    margin-top: -9.5vh;
    opacity: 0;
}

.MealsPageButton:hover .AppleImage{
    opacity: 0;
    transition: 0.20s;
}

.MealsPageButton:hover .NavFromHomeArrow{
    opacity: 1;
    transition: 0.35s;
}

.BarbellImage{
    margin-top: 4vh;
    height: 7vh;
    width: 10vh;
}

.AppleImage{
    margin-top: 4vh;
    height: 8vh;
    width: 8vh;
}

.MealsPageButton{
    cursor: pointer;
    border-color: #4CAF50;
    background-color:white;
    color: black;
    padding-top: 5vh;
    padding-bottom: 4.2vh;
    padding-left: 8.5vh;
    padding-right: 8.5vh;
}

.HomePageSuggestionContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: white;
    width: 40vh;
    height: 17vh;
    margin-top: 7vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vh;
    padding-left: 7vh;
    padding-right: 7vh;
    padding-bottom: 7vh;
    border-style: solid;
    border-width: 10px;
    border-color: #ec5d70;
    border-radius: 20px;   
}

.HomePageSuggestionBoxTitle{
    text-align: center;
    font-family: Futura-Book;
    font-size: x-large;
}