@font-face {
    font-family: Futura-Medium-Italic;
    src: url(../fonts/futura/Futura\ Medium\ Italic\ font.ttf);
    font-style: italic;
}

@font-face {
    font-family: Futura-Heavy-Italic;
    src: url(../fonts/futura/Futura\ Heavy\ Italic\ font.ttf);
    font-style: italic;
}

@font-face {
    font-family: Futura-Book;
    src: url(../fonts/futura/Futura\ Book\ font.ttf);
    font-style: italic;
}

@font-face {
    font-family: Futura-Bold-Italic;
    src: url(../fonts/futura/Futura\ Bold\ Italic\ font.ttf);
    font-style: italic;
}

@font-face {
    font-family: Futura-Bold;
    src: url(../fonts/futura/Futura\ Bold\ font.ttf);
}

.HomePage{
    background-image: 
	  linear-gradient(to right bottom, 
     rgba(76, 216, 255, 0.8),
     rgba(12, 85, 187, 0.8)),
     url('../images/HomePageBackground.jpg');
     background-size: cover;
     height: auto;
}

.HomeScreenHeader{
    text-align: center;
    padding-bottom: 1.5vh;
    background-color: #2b87ff5d;
    color: #2774AE;
    -webkit-text-stroke-color: #FFD100;
    -webkit-text-stroke-width: 3px;
    font-size: 130px;
    font-weight: bolder;
    font-family: Futura-Heavy-Italic;
}

.HomePageButtonContainer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4vh;
}

.HomePageButtons{
    font-family: Futura;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-width: 10px;
    border-radius: 25px;
    font-family: Futura-Bold-Italic;
    font-size: xx-large;
}

.WorkoutsPageButton{
    cursor: pointer;
    border-color: #dc54ee;
    background-color:white;
    color: black;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

.WorkoutsPageButton:hover .BarbellImage{
    opacity: 0;
    transition: 0.20s;
}

.WorkoutsPageButton:hover .NavFromHomeArrow{
    opacity: 1;
    transition: 0.35s;
}

.NavFromHomeArrow{
    font-size: 70px;
    margin-top: -9.5vh;
    opacity: 0;
}

.MealsPageButton:hover .AppleImage{
    opacity: 0;
    transition: 0.20s;
}

.MealsPageButton:hover .NavFromHomeArrow{
    opacity: 1;
    transition: 0.35s;
}

.BarbellImage{
    margin-top: 4vh;
    height: 7vh;
    width: 10vh;
}

.AppleImage{
    margin-top: 4vh;
    height: 8vh;
    width: 8vh;
}

.MealsPageButton{
    cursor: pointer;
    border-color: #4CAF50;
    background-color:white;
    color: black;
    padding-top: 5vh;
    padding-bottom: 4.2vh;
    padding-left: 8.5vh;
    padding-right: 8.5vh;
}

#HomePageSuggestionAndCompletionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 4vh;
    margin-left: 24vh;
}

.HomePageSuggestionContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2vh;
    background: white;
    width: 40vh;
    height: 20vh;
    padding-top: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-bottom: 3vh;
    margin-right: 5vh;
    border-style: solid;
    border-width: 7px;
    border-color: #f06f80;
    border-radius: 20px;   
}

#WorkoutSuggestionHeader{

}

#WorkoutSuggestion{
    font-size: 20px;
    font-weight: bold;
}

#MealSuggestionHeader{
    
}

#MealSuggestion{
    font-size: 20px;
    font-weight: bold;
}

.HomePageSuggestionBoxTitle{
    text-align: center;
    font-family: Futura-Book;
    font-size: x-large;
}

#HomePageCompleteSuggestionButton{
    font-family: Futura-Book;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    background: white;
    width: 20vh;
    height: 10vh;
    padding: 2vh;
    border-style: solid;
    border-width: 3px;
    border-color: #f7a5b0;
    border-radius: 20px;   
    opacity: 1;
}

#HomePageCompleteSuggestionButton:hover{
    background-color: rgb(236, 236, 236);
    transition: 0.25s;
}

#welcome_message{
    text-align: center;
    justify-content: center;
    font-size: 40px;
}

#message_container{
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    border-width: 5px;
    margin-bottom: 2vh;
    width: 120vh;
}

#WorkoutDayCountContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3vh;
    margin-right: 15vh;
    margin-left: 15vh;
}

.WorkoutDayCountBox{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: white;
    width: 20vh;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vh;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 3vh;
    border-style: solid;
    border-width: 7px;
    border-radius: 20px;  
}

.WorkoutDayCount{
    font-size: 70px;
}

#ArmWorkoutDayCountBox{
    border-color: #6ff0d0;
}

#ChestWorkoutDayCountBox{
    border-color: #ce9a5e;
}

#LegWorkoutDayCountBox{
    border-color: #ecee73;
}

.numbers{
    margin-top: 10vh;
    background-color: white;
    font-family: Futura-Medium-Italic;
    font-size: 20px;
    border-width: 4px;
    border-radius: 10px;
    padding: 3vh;
}