.signUpBackground {
    /*    background-color: #E3EDFF;
        height: 100vh*/
    background-image: url("https://files.catbox.moe/11c0vy.jpg");
    filter: blur(4px);

    width: 100vw;
    height: 72%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}