.signInBackground {
    background-image: url("https://files.catbox.moe/11c0vy.jpg");
    filter: blur(4px);

    width: 100%;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.wrapper {
    display: grid;
}

.container {
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rowContainer {
    width: 55%;
    height: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}

.inputBox {
    margin-bottom: 12px;
}

.slide {
    background: #2774AE;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.35);
    width: 55%;
    transform: rotate(7deg) translate(-15%, -5%);
    height: 125%;
    position: absolute;
    z-index: -1;
}

.test {
    border-radius: 5px;
    background: #2774AE;
    box: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
}

