#header{
    margin-top: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    font-style: normal;
    font-size: 30px;
}

#info{
    margin-left: 10vh;
}

#dualField{
    margin-top: -100px;
}