.UploadScreenHeader{
    display:flex;
    justify-content: center;
    height: 10vh;
    padding-top: 2vh;
    padding-bottom: 9vh;
    background-color: #2b87ff5d;
    /*margin-left: 50vh;
    margin-right: 50vh;*/
    color: #2774AE;
    -webkit-text-stroke-color: #FFD100;
    -webkit-text-stroke-width: 3px;
    font-size: 60px;
    font-weight: bolder;
    font-family: Futura-Heavy-Italic;
}

#category-input{
    margin-left: 20px;
}

#category-question{
    font-size: 20px;
}

#select-container{
    margin-top: 2rem
}

#single-input{
    margin-top: 2rem;
}