.single-input{
    margin-top: 2vh;
}

#WorkoutSearchPage{
    background-color: #2b87ff5d;
    background-size: cover;
    height: 120vh;
}

#search-results-container{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 40vw;
}

#search-results{
    font-size: large;
}