.WorkoutScreenHeader{
    display:flex;
    justify-content: center;
    height: 10vh;
    padding-top: 2vh;
    padding-bottom: 9vh;
    background-color: #2b87ff5d;
    /*margin-left: 50vh;
    margin-right: 50vh;*/
    color: #2774AE;
    -webkit-text-stroke-color: #FFD100;
    -webkit-text-stroke-width: 3px;
    font-size: 130px;
    font-weight: bolder;
    font-family: Futura-Heavy-Italic;
}
