@font-face {
    font-family: Futura-Medium-Italic;
    src: url(../assets/fonts/futura/Futura\ Medium\ Italic\ font.ttf);
    font-style: italic;
}

#upload-screen-header {
    display: flex;
    justify-content: center;
    height: 15vh;
    padding: 1vh;
    background-color: #467fb45d;
    color: #2774AE;
    -webkit-text-stroke-color: #FFD100;
    -webkit-text-stroke-width: .15vw;
    font-size: 1.85vw;
}

#white-background {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    overflow: scroll;
}

#submit-container {
    width: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}

#SubmitButton {
    font-size: 23px;
    font-family: Futura-Bold;
}

#category-input {
    margin-left: 20px;
}

#category-question {
    font-size: 20px;
}

#select-container {
    margin-top: 2vh
}

#single-input {
    margin-top: 2vh;
}

#inputbox {
    font-size: 20px;
}

textarea {
    resize: none;
}