@font-face {
    font-family: Futura-Heavy-Italic;
    src: url(../assets/fonts/futura/Futura\ Heavy\ Italic\ font.ttf);
    font-style: italic;
}

@font-face {
    font-family: Futura-Bold-Italic;
    src: url(../assets/fonts/futura/Futura\ Bold\ Italic\ font.ttf);
    font-style: italic;
}

@font-face {
    font-family: Futura-Book;
    src: url(../assets/fonts/futura/Futura\ Book\ font.ttf);
    font-style: italic;
}


.WorkoutPage {
    background-image: linear-gradient(to left bottom,
    rgba(203, 247, 255, 0.4),
    rgba(12, 25, 187, 0.6)),
    url('../assets/images/powell_cat.jpeg');
    background-position: center right;
    background-size: cover;
    height: 100vh;
}

.WorkoutScreenHeader {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #2384d45d;
    color: #2774AE;
    -webkit-text-stroke-color: #FFD100;
    -webkit-text-stroke-width: 3px;
    font-size: 100px;
    font-family: Futura-Bold-Italic;
}

.WorkoutPageButtonContainer {
    display: flex;
    justify-content: start;
    margin-top: 10vh;
    margin-right: 100vh;
    margin-left: 20vh;
    gap: 3vh;
    row-gap: 3vh;
}

.WorkoutPageButtons {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-width: 4px;
    border-radius: 14px;
    font-size: x-large;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    margin-right: 2vh;
    margin-left: 2vh;
    background-color: white;
    font-family: Futura-Book;
}

.WorkoutPageButtons:hover {
    background-color: rgb(236, 236, 236);
}

.SearchButton {
    cursor: pointer;
    background-size: cover;
    border-color: #9900ff;
    background-color: white;
    color: black;
}

.RandomButton {
    cursor: pointer;
    background-size: cover;
    border-color: #9900ff;
    background-color: white;
    color: black;
}

.UploadButton {
    cursor: pointer;
    background-size: cover;
    border-color: #9900ff;
    background-color: white;
    color: black;
}

.HistoryButton {
    cursor: pointer;
    background-size: cover;
    border-color: #9900ff;
    background-color: white;
    color: black;
}

.PlanButton {
    cursor: pointer;
    background-size: cover;
    border-color: #9900ff;
    background-color: white;
    color: black;
}