@font-face {
    font-family: Futura-Book;
    src: url(../assets/fonts/futura/Futura\ Book\ font.ttf);
    font-size: 10px;
}

.single-input {
    margin-top: 2vh;
}

#upload-screen-header {
    display: flex;
    justify-content: center;
    height: 15vh;
    padding: 1vh;
    background-color: #467fb45d;
    color: #2774AE;
    -webkit-text-stroke-color: #FFD100;
    -webkit-text-stroke-width: .15vw;
    font-size: 1.85vw;
}

#WorkoutSearchPage {
    position: fixed;
}

#search-container {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    overflow: scroll;
}

#search-results-container {
    position: fixed;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 100%;
    margin-left: 2vh;
    margin-top: 5vh;
    overflow: scroll;
}

#search-results {
    font-weight: bold;
}

#display-single-workout{
    display: flex;
    flex-direction: row;
    color: black;
    width: 48vw;
    margin-top: 2vh;
}

#workout-text-elt{
    border-color: black;
    border-style: solid;
    background-color: rgba(135,206,250,.5);
    color: black;
    width: 8vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    font-family: Futura-book;
    overflow-wrap: break-word;
}